$sans: "Source Sans Pro", "Helvetica Neue", "Arial", sans-serif;

$charcoal:          #41425A;
$bluish-grey:       #9DAFC3;
$dark-blue:         #3b4655;
$grey:              #ededed;
$teal:              #50cf4a;

$elastic: cubic-bezier(0.68, -0.55, 0.27, 1.55);
