.container {
  width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

.svg-items {
  @include flexbox();
  @include justify-content(center);
  &.-disabled {
    g {
      fill: #E6EAF1;
    }
  
  }

}
