.svg-loader-container {

  #pc-loading-circle, #pc-loading-circle-filled {
    stroke-width: 9;
  }

  #pc-loading-circle {
    stroke: $grey;
    opacity: 1;
    visibility: visible;
  }

  #pc-loading-circle-filled {
    stroke: $teal;
  }

  #pc-loading-pause, #pc-loading-play {
    fill: $dark-blue;
  }


  #pc-loading-pause {
    pointer-events: none;
  }

}
