---
layout: default
---

.container
  %header
    %hgroup
      %h1 SVG Playground
      %h2 @samrosecruz
  .svg-items
    .item
      .svg-trash-container
        {% include trash.svg %}

    .item
      .svg-arrow-h-container
        {% include arrow-horizontal.svg %}

    .item
      .svg-arrow-v-container
        {% include arrow-vertical.svg %}

    .item
      .svg-volume
        {% include volume.svg %}

    .item
      .svg-checkbox
        {% include checkbox.svg %}

  .svg-items.-disabled
    .item
      {% include wine.svg %}
    .item
      {% include settings.svg %}
    .item
      {% include cross.svg %}
    .item
      {% include cloud.svg %}
    .item
      {% include flag.svg %}

  .svg-items.-disabled
    .item
      {% include monitor.svg %}
    .item
      {% include lock.svg %}
    .item
      {% include heart.svg %}
    .item
      {% include dashboard.svg %}
    .item
      {% include pulse.svg %}

  .svg-items.-disabled
    .item
      {% include bulb.svg %}
    .item
      {% include pages.svg %}
    -#.item
      -#.svg-loader-container
        -#{% include loading.svg %}
