---
layout: default
---

.container
  %header
    %hgroup
      %h1 SVG Playground
      %h2 SVG animations using Snap.svg
  .svg-items
    .item
      .svg-trash-container
        {% include trash.svg %}

    .item
      .svg-arrow-h-container
        {% include arrow-horizontal.svg %}

    .item
      .svg-arrow-v-container
        {% include arrow-vertical.svg %}

    .item
      .svg-loader-container
        {% include loading.svg %}
